/*
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it
is easier to update the theme. Simply copy an existing style
from style.css to this file, and modify it to your liking. */


/* GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */



/* remove breadcrumb home page
--------------------------------------------- */

.page-id-9 .breadcrumb {
display: none;
}




@media only screen and (min-width: 980px){
.two-col-left #main-sidebar-container #sidebar, .two-col-right #main-sidebar-container #sidebar {
width: 20%;
}

.two-col-left #main-sidebar-container #main, .two-col-right #main-sidebar-container #main {
width: 75%;
}

}



/* DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */
@media only screen and (min-width: 768px) {
	/* Desktop styles go below this line */


	
}


