/*
Theme Name: Canvas Child
Version: 1.0
Description: Child theme for Canvas.
Author: WooThemes
Author URI: http://www.woothemes.com
Template: canvas
*/

@import url("../canvas/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */

.woocommerce .summary table.variations tr td.value{
    border-top: 1px solid #C6C6C8;
    padding: 5px 5px 5px 5px;
}
.woocommerce .summary table.variations tr:first-child td.value{
    border-top: 0!important;  
}
.woocommerce .summary table{
	border-collapse: unset;
}
.woocommerce .summary table.variations{
	border: 0!important;
}
.woocommerce .summary form{
	border-width: 0!important;
}
.woocommerce .summary table.variations tr .center{
    text-align: center;
}
.woocommerce .summary table.variations tr .left{
   text-align: left; 
}

p.price .amount{
	color: #696969;
	font-weight: bold;
}

.woocommerce #attribute-rad input[type=radio] {
    display:none;
    margin:10px;
}
.woocommerce #attribute-rad input[type=radio] + label {
	display:block;
    border: 1px solid #5991c3;
    height: 14px;
    width: 14px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.woocommerce #attribute-rad input[type=radio]:checked + label {
   border: 1px solid #5991c3;
    height: 14px;
    width: 14px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px; 
    background-color:#5991c3;
}
.entry table { 
	width: 65%;
}
